@model List<Person>

    <table border="1" cellpadding="10">
        <tr>
            <th>Family Members:</th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @person.FirstName
                </td>
            </tr>

        }
    </table>